<template>
   <div class="header">
    <h1 class="title">News Search</h1>
  </div>

  <div class="news-search">
    <select v-model="country">
        <option :value="cntry.code" v-for="(cntry, index) in countryList" :key="index">{{cntry.name}}</option>
  
    </select>
     <select v-model="category">
        <option class="caps" v-for="(cat, index) in categoryList" :key="index">{{cat}}</option>
    </select>
    <input type="text" v-model="keyword" placeholder="Keywords (optional)" />
    <button class="search" @click="filterChanged()">Search</button>
  </div>

  <div v-if="modalVisible">
    <img :src="selectedNewsInfo.urlToImage">
    <p>{{selectedNewsInfo.content}}</p>
  </div>

  <!-- {{countryLIst}} -->

  <div class="thumbnail-wrapper" v-on:scroll.passive="handleScroll()">
      <div class="thumbnail-item">

          <div class="item" v-for="(newsInfo, index) in newsData" :key="index" :class="'item-' + (index + 1)">
              <div class="image">
                  <img :src="newsInfo.urlToImage">

                  <div class="empty-image" v-if="newsInfo.urlToImage == null">
                      No Image
                  </div>   
              </div>
              <div class="description">
                  <h2 @click="getNewsInfo(newsInfo)">{{newsInfo.title}}</h2>
                  <span class="author">{{newsInfo.author}}</span>
                  <p>{{newsInfo.description}}</p>
              </div>
              <div class="button">
                  <a @click="getNewsInfo(newsInfo)">Go to Page</a>
              </div>

              <div class="publish">
                  Published: {{new Date(newsInfo.publishedAt).toLocaleDateString('en-GB')}}
              </div>
          </div>


      </div>
  </div>
</template>

<script>
import countries from '../countries.json'
import {useStore} from 'vuex'
export default {
  components: {
  },
  data () {
    return {
      newsData: '',
      store: '',
      selectedNewsInfo: {},
      modalVisible: false,
      country: 'PH',
      countryList: countries,
      category: 'business',
      categoryList: ['business', 'technology'],
      keyword: '',
      resultPerScroll: 9
    }
  },
  mounted() {
    this.store = useStore()
    this.reloadData()
    window.onscroll = function () {
      if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight) {
          console.log(this.newsData)
    }
    };
  },
  computed: {
  },
  methods: {
    reloadData () {
      var filterInfo = {
        country: this.country,
        category: this.category,
      }
      this.store.dispatch("fetchData", filterInfo);
      setTimeout(() => {
        this.newsData = this.store.state.news.articles
      }, 500);
    },
    getNewsInfo(data) {
      this.selectedNewsInfo = data
      this.modalVisible = true
    },
    filterChanged() {
      if (this.keyword) {
        let filterSearchData = this.newsData.filter(val => val.title.toLowerCase().indexOf(this.keyword) > -1)
        this.newsData =  filterSearchData  
      } else {
          this.reloadData()
      }
    },
    handleScroll() {
      //
    }
  }
}

</script>

<style>
.hide {
  display: none;
}
</style>

