<template>
  <div class="header">
    <h1 class="title">React News Search & Bookmark</h1>
  </div>

  <div class="news-search">
    <select>
        <option>Philippines</option>
    </select>
     <select>
        <option>Technology</option>
    </select>
    <input type="text" placeholder="Keywords (optional)" />
    <button>Search</button>
  </div>
</template>