<template>

<div class="thumbnail-wrapper">
    <div class="thumbnail-item">

        <div class="item">
            <div class="image">
                <img src="https://www.cnet.com/a/img/resize/86f9f084a117df8aa75fe1eceab8780d223dfc34/hub/2022/03/12/2a4ee628-24c3-4dca-8a7f-81c20593dd47/vlcsnap-2022-03-11-17h24m21s454.png?auto=webp&fit=crop&height=630&width=1200">
            </div>
            <div class="description">
                <h2>Are You Thinking About Electric Car Charging the Wrong Way?</h2>
                <span class="author">Brian Cooley</span>
                <p>his story is part of Plugged In, CNET's hub for all things EV and the future of electrified mobility. From vehicle reviews to helpful hints and the latest industry news, we've got you covered. \r\nIf … [+4142 chars]</p>
            </div>
            <div class="button">
                <a href="#">Go to Page</a>
            </div>

            <div class="publish">
                Published: 2022/09/24
            </div>
        </div>


    </div>
</div>

</template>