.header {
    background: #343a40;
    margin-top: 5px;
}
.title {
    color: #fff;
    font-size: 21px;
    text-align: center;
    padding: 10px 0;
}

.news-search {
    background: #a8a8a8;
    padding: 15px 0;
    display: flex;
    justify-content: center;
}

.news-search select {
    padding: 8px 10px;
    border-radius: 5px;
    border: 0;
    margin-right: 20px;
    width: 210px;
    font-size: 14px;
}

.news-search input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 0;
    margin-right: 20px;
    width: 210px;
    font-size: 14px;
}

button.search {
    background: #343a40;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    padding: 12px;
    color: #fff;
    display: block;
    border: 0;
}

.item {
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 30px;
    background: #fff;
}

.image {
    height: 215px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
}

.empty-image {
    position: absolute;
    top: 0;
    z-index: 999;
    font-size: 31px;
    font-weight: 600;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    align-items: center;
    display: grid;
}

.thumbnail-wrapper {
    background: #ccc;
    padding-top: 50px;
}

.thumbnail-item {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1240px;
    margin: 0 auto;
    align-content: flex-end;
    align-items: flex-start;
}

.description {
    padding: 20px;
}
.description h2 {
    font-size: 20px;
    line-height: 27px;
    font-weight: 600;
    cursor: pointer;
}

.button {
    padding: 0 20px 20px;
}

.button a {
    background: #343a40;
    width: 101px;
    text-align: center;
    border-radius: 5px;
    padding: 7px;
    color: #fff;
    display: block;
    cursor: pointer;
}

.publish {
    background: #f7f7f7;
    font-size: 13px;
    padding: 13px 20px;
    border-top: 1px solid #ccc;
}
